*{
    margin: 0px;
    padding: 0px;
}

.heading{
    height: 75px;
    width: 800px;
    color: indianred;
    font-family: sans-serif;
    font-size: 65px; 
    text-align: center;
    display: flex;
    justify-content: center;
}

.flex-container{
    align-items: center;
    width: 800px;
    padding: 20px;
    background-color: burlywood;
}

.row-top{
   
    height: 200px;
    width: 800px;
    background-color: rgb(243, 169, 142);
}

img.whereswaldoctocat{
    margin-left: 20px;
}
.row-center{
    height: 200px;
    width: 800px;
    background-color: rgba(214, 127, 214, 0.795);
}
.row-bottom{
height: 200px;
width: 800px;

background-color: darkseagreen;
}
