*{
    margin: 0;
    padding: 0;
}


#heading{
    display: flex;
    margin: 15px;
    text-size-adjust: 4em;


}

div#container{
     height: 800px;
    width: 709px;
    display: flex;
}
div#body{
    height: 900px;
    width: 709px;
    justify-content: space-evenly;
    display:flex;
}
div.row-top{
    display:flex;
    height: 200px;
   

}


