*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#main{
    border-style: solid;
    border-color: rgb(161, 154, 154);
    background-color: whitesmoke;
    width: 800px;
    height: 385px;
    display: flex;
}
    


.colorblock{
    background-color:rgb(32, 165, 209);
    width: 800px;
    height: 75px;
}
.container{
    width: 400px;
    height:auto;
}
    
.propic{
    height: 100px;
    margin-bottom: 10px;
}

.pin{
    width: 10px;
}
.first{
    margin-bottom: 15px;


}
.second{
    margin-bottom: 10px;
}
.third{
    margin-bottom: 10px;
}

.gear{
    width: 15px;
}

a{

}